bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
kafka-python==2.0.2
MarkupSafe==2.0.1
pycparser==2.21
psycopg2==2.9.1
PyJWT==2.3.0
six==1.16.0
Werkzeug==2.0.2