<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth service</title>
</head>
<body>

  <form action="{{ '/login?redirect_url=' + redirect_url}}" method="POST">
    <p><h3>Enter credentials</h3></p>
    <label for="email">Email:</label>
    <p><input type="email" name="email" id="email"/></p>
    <label for="pwd">Password:</label>
    <p><input type="password" name="pwd" id="pwd"/></p>
    <p><input type="submit" value="Login"/></p>
    <button type="submit" formaction="{{ '/register?redirect_url=' + redirect_url}}" formmethod="POST">Register</button>
  </form>

</body>
</html>
